.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.all{
	width: 1000px;
	margin: 50px auto;

}
body{
	color: #fff;
	background: url(../img/kfru8cu2crg-blair-fraser.jpg) no-repeat  fixed;
	background-size: 100%;
	height: 120000px;
}
ul{
	list-style-type: none;	
}
li a{
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
header{

	position: relative;

}
.logo img{
	width: 150px;
	height: 150px;
}
nav ul {
	
	position: absolute;
	right: 0px;
	top: 0px;
}
nav ul li{
	float: left;
}
nav ul li a{	
	
	margin: 10px 30px;
	border: 1px solid transparent;
	transition: all .5s;
}
nav ul li a:hover {	
	color: #000;
	border: 1px solid #fff;
}


.favorites{
	position: relative;
}
.favorites ul li{
	padding: 10px;
	background-color: rgba(100,100,200,.5)  ;
	margin: 10px 30px;
	float: left;
	border-radius: calc(15px);
	transition: background .5s ,border-radius .5s;
}
.favorites ul li:hover{
	background-color: rgba(100,100,200,.9)  ;
	border-radius: calc(0px)
}
.work div figure{
	float: left;
}






















